:root {
    --black: #0a0a0a;
    --white: #ffffff;
    --medium-size:
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0A0A0A;
    background-color: var(--white);
    font-family: "Roboto Mono";
}

.container_header {
    position: fixed;
    width: 100vw;
}

.content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.nav_header {
    display: flex;
}

.title_header a {
    text-decoration: none;
    font-size: 30px;
}

.nav_link {
    list-style: none;
    padding-right: 50px;
}

.nav_link a {
    text-decoration: none;
}

.nav_link a:hover {
    font-weight: 700;
    border-radius: 10px;
    text-decoration: underline;
}

.nav_link:last-child {
    padding-right: 0;
}

.line_header {
    padding: 1px 0;
    background-color: var(--black);
}

.container_home {
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content_home {
    text-align: center;
    height: 180px;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--black);
    border-radius: 10px;
}

.name_home {
    font-size: 30px;
    margin-bottom: 5px;
}

.position_home {
    margin-bottom: 25px;
}

.buttons_home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 8px 65px;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    border: none;
}

.scroll_home{
    display: grid;
    place-items: center;
    margin-bottom: 180px;
}

.scroll_text{
    text-decoration: none;
    margin-bottom: 10px;
}

.container_about {
    height: 500px;
}

.info_about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 60px;
}

.title_about {
    margin-bottom: 10px;
}

.text_about {
    width: 600px;
    height: 400px;
}

.img_about img {
    object-fit: cover;
    border: 1px solid var(--black);
    border-radius: 10px;
    width: 300px;
    height: 410px;
    box-shadow: inset;
}