:root {
    --black: #0a0a0a;
    --white: #ffffff;
    --title: 35px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0A0A0A;
    font-family: "Roboto Mono";
}

/* HEADER */

.container_header {
    position: fixed;
    width: 100vw;
}

.content_header {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
}

.nav_header {
    display: flex;
}

.title_header a {
    text-decoration: none;
    font-size: 25px;
}

.nav_link {
    list-style: none;
    padding-right: 50px;
}

.nav_link a {
    text-decoration: none;
}

.nav_link a:hover {
    font-weight: 700;
    border-radius: 10px;
    text-decoration: underline;
}

.nav_link:last-child {
    padding-right: 0;
}

.line_header {
    padding: 1px 0;
    background-color: var(--black);
}

/* HOME */

.container_home {
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content_home {
    text-align: center;
    height: 180px;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--black);
    border-radius: 10px;
}

.name_home {
    font-size: 35px;
    margin-bottom: 5px;
}

.position_home {
    margin-bottom: 25px;
}

.buttons_home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 8px 65px;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    border: none;
}

.button:hover{
    background-color: #98729f;
}

/* SCROLL DOWN*/

.scroll_down{
    display: grid;
    place-items: center;
    padding-bottom: 9px;
}

.scroll_down_text{
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}

.scroll_down img{
    cursor: pointer;
}

/* ABOUT */

.content_about{
    padding: 90px 0 30px 0;
}

.info_about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 60px;
}

.title_about {
    font-size: 35px;
    margin-bottom: 10px;
}

.text_about {
    width: 600px;
    height: 400px;
}

.img_about img {
    object-fit: cover;
    border: 1px solid var(--black);
    border-radius: 10px;
    width: 300px;
    height: 410px;
    box-shadow: inset;
}

/* SKILLS */

.container_skills{
    padding: 90px 0 40px 0;
}

.content_skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.title_skills{
    font-size: var(--title);
}

.text_skills{
    color: var(--black);
    font-size: 14px;
    margin-bottom: 10px;
}

.skills_item{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 600px;
    padding: 8px 20px;
    border: 1px solid var(--black);
    margin-bottom: 20px;
    border-radius: 10px;
}

.skills_item img{
    width: 30px;
}

/* PROJECTS */

.content_projects{
    padding: 90px 0 40px 0;
    height: 600px;
}


.title_projects{
    font-size: var(--title);
    text-align: center;
}

.text_projects{
    text-align: center;
    
    margin-bottom: 60px;
}

.cards_projects{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

.content_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 50px 10px;
    width: 250px;
}

.name_card{
    font-size: 20px;
    margin-bottom: 20px;
}
    
.description_card{
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.button_card{
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;
}

.button_card:hover{
    background-color: #98729f;
}

/* SCROLL UP */

.scroll_up{
    width: 800px;
    cursor: pointer;
    height: 50px;
    padding-left: 1370px;
}


/* FOOTER */

.content_footer{
    background-color: var(--black);
    height: 150px;
}